body {
  font-family: $default-fontstyle;
}

.sub-heading {
  font-size: $sub-heading-size;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.body-text{
  font-size: $body-text;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
