//font variables
$default-fontstyle: 'Roboto', sans-serif;
$heading-size: 35px;
$sub-heading-size: 15px;
$body-text: 16px;


//color variables
$background-color: #EDEBE1;
$heading-color: #333444;
$text-color: #333444;
$button-color: #10ac84;
$cards-color: #fff;
